@import "~@/style/basic.scss";

.cont {
  min-height: 100vh;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .top {
    a {
      padding: 0 8px;
    }
  }

  .main {
    position: relative;
    width: -webkit-fill-available;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 2rem 1rem 6rem 1rem;
  }

  .foot {
    float: bottom;
  }
}