@import "~@/style/basic.scss";

.cont {
  min-height: 100vh;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .top {
    a {
      padding: 0 8px;
    }
  }

  .main {
    flex-grow: 1;
  }

  .foot {
    float: bottom;
  }
}