@mixin html($text: #161209, $link: #0700FF, $background: #FFFFFF) {
  html {
    color: $text;
    background: $background;

    a {
      color: $text;

      &:hover {
        color: $link;
      }
    }
  }
}

@mixin highlight($link: dodgerblue) {
  p a,
  .page h2::before,
  .page h3::before {
    color: $link;
  }
}

@mixin code($text: #248DC0, $background: #fafafa) {
  code:not(pre code) {
    color: $text;
    background: $background;
  }
}
