@mixin html($text: #161209, $link: #0700FF, $background: #FFFFFF) {
  html {
    color: $text;
    background: $background;

    a {
      color: $text;

      &:hover {
        color: $link !important;
      }
    }
  }
}

@mixin highlight($link: dodgerblue) {
  .page{
    p a,
    h2::before,
    h3::before {
      color: $link;
    }
  }
}

@mixin code($text: #248DC0, $background: #fafafa) {
  code:not(pre code) {
    color: $text;
    background: $background;
  }
}
