@import "font";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-light.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/atom-one-dark-reasonable.min.css" (prefers-color-scheme: dark);

@media (prefers-color-scheme) {
  @import "theme/light";
}

@media (prefers-color-scheme: dark) {
  @import "theme/dark";
}

html, body, #app, pre, code {
  font-family: Monaco, Consolas, Menlo, Consolas, monospace;
}

html, body, #app {
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  font-size: 11pt;
  line-height: 2rem;
}

hr{
  margin: 30px;
  border-width: 0;
}

a {
  text-decoration: none;
  transition: color .5s ease;
  cursor: pointer;
}

p a {
  color: dodgerblue;
}

pre{
  font-size: 13px;
  line-height: 1.7em;
}

code:not(pre code) {
  display: inline-block;
  padding: 0 .5em;
  border-radius: .5em;
}

.hljs-ln .hljs-ln-line {
  padding: 0 10px;
}
