@import "theme.scss";
html, body, #app {
  height: 100%;
  width: 100%;
  font-family: 'Microsoft Jhenghei', Lantinghei SC, 'lanting', PingFang SC, Seguo UI, Microsoft Yahei, Arial, serif;
}

body {
  margin: 0;
  font-size: 11pt;
  line-height: 2em;
}

a {
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}