@import url("https://fonts.cdnfonts.com/css/monaco");

@media (prefers-color-scheme) {
  @import "theme/light";
}

@media (prefers-color-scheme: dark) {
  @import "theme/dark";
}

html, body, #app, pre, code {
  font-family: Monaco, Consolas, Menlo, Consolas, monospace;
}

html, body, #app {
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  font-size: 11pt;
  line-height: 2rem;
}

hr {
  margin: 30px;
  border-width: 0;
}

a {
  text-decoration: none;
  transition: color .5s ease;
  cursor: pointer;
}

pre {
  font-size: 13px;
  line-height: 1.7em;
  border-radius: .5em;
}

code:not(pre code) {
  display: inline-block;
  padding: 0 .5em;
  border-radius: .5em;
}

.page h2::before {
  content: "#";
  margin-right: 5px;
}

.page h3::before {
  content: "|";
  margin-right: 5px;
}