$blue: #0700FF;
$red: #FF0100;
$gray: #A9A9B3;

@media (prefers-color-scheme: light) {
  html {
    color: #161209;

    a {
      color: #161209;

      &:hover {
        color: $blue;
      }
    }

    .article {
      a {
        color: dodgerblue;

        &:hover {
          color: $red;
        }
      }

      code, pre {
        background-color: lightgray;
        line-height: 1.7em;
        padding: 3px 5px;
        border-radius: 4px;
        font-family: Consolas, Monaco, Menlo, Consolas, monospace;
      }

    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #292A2D;
    color: $gray;

    a {
      color: $gray;

      &:hover {
        color: $red;
      }
    }
  }
}
